body{
    margin: 0;
}

nav{
    height: 52px;
    background-color: rgb(26, 26, 26);
}


@media/*----------------------kod till hamburgar meny-----------------------------*/{

.burger input {
    display: none;
 }

.line_1,.line_2,.line_3{
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
    height: 3px;
    width: 30px;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    transition: .25s ease-in-out;
}

.line_1{
    transform: translateY(-5px) scaleX(.88235);
}
.line_2{
    transform: translateY(15px) scaleX(.88235);
}
.line_3{
    transform: translateY(5px) scaleX(.88235);
}
.burger_hitbox{
    position: absolute;
    height: 30px;
    width: 31px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0);
    margin-top: 11px;
    margin-left: 10px;
}


input:checked + label .line_1{
    transform: rotateZ(45deg);
}
input:checked + label .line_2{
    transform: rotateZ(-45deg);
}
input:checked + label .line_3{
    width: 0%;
    opacity: 0;
}
}

@media/*----------------------kod till dropdown meny-----------------------------*/{
    li{
        margin-bottom: 20px;
    }
    
    .item_list a:link,a:visited,a:hover,a:active{
        text-decoration: none;
        color: white;
    }
    
    #menu_items{
        background-color: rgb(26, 26, 26);
        height: 50vh;
    }
    
    .item_list{
        text-align: left;
        margin: 0;
        list-style: none;
        color: white;
        font-size: 2rem;
    }
    
    
}




@media (min-width: 391px){

    body {
        background-color: red;
    }
}
